.container {
    width: 800px;
    margin: 0 auto;
    height: 480px;
}

header {
    height: 20%;
    display: none;
    background-color: lightcoral;
}

.menu {
    /* width: 200px; */
    display: none;
    float: right;
    background-color: lightgray;
    /* display: inline; */
    height: 30%;
    width: 20%;
}

.content {
    /* width: 600px; */
    background-color: lightgreen;
    float: left;
    /* display: inline; */
    height: 60%;
    width: 80%;
}

footer {
    display: none;
    clear: both;
    background-color: lightblue;
    height: 20%;
}